<!doctype html>
<html lang="en">
<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/styles.css">
  <script src="../assets/js/angular.min.js"></script>
</head>
<body ng-app="LunchCheck">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <p>List up to 3 of your favorite foods to eat for lunch!</p>
    <p>Foods should be comma-separated. Empty items (i.e. ", ,") will not be counted</p>
    <div class="form-group">
      <input id="lunch-menu"
              type="text"
              placeholder="{{::placeholder}}"
              class="form-control border-transition"
              ng-class="{'success-border': success, 'error-border': error}"
              ng-model="lunch">
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
    </div>
    <div ng-if="showMessage"
         class="form-group message"
         ng-class="{'success': success, 'error': error}"
         ng-cloak>
      {{message}}
    </div>
  </div>
  <script src="./js/app.js"></script>
</body>
</html>
